.bg {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.section-bg {
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;
    background: #111;
}

.text-bg {
    position: relative;
    transform: skewY(345deg) translateY(-200px);
}


.text-bg h2 {
    position: relative;
    width: 100%;
    font-size: 4em;
    color: #fff;
    pointer-events: none;
    line-height: 1em;
    white-space: nowrap;
    text-shadow: calc(var(--x))100px 0 rgba(255,255,255,0.1);
    transform: translateX(calc(0% - var(--x) *var(--i)));
}

.text-bg h2 span {
    color: var(--scrollbar-bar-color);
    margin: 0 10px;
}

.text-bg h2 span:nth-child(even) {
    color: transparent;
    -webkit-text-stroke: 2px var(--scrollbar-track-color);
}